
<h2>Create a Student</h2>
<form action="/createStudent" method="POST">

<!-- Ely - I think you meant to make this hidden, so that the student does not 
manipulate this part since we don't know what the last ID was and I'm assuming
you want to keep it incremental -->
  <div>
    <label class="form-label">
      Student ID:
      <input class="form-control" type="text" name="studentID" />
    </label>
  </div>
  
  <div>
    <label class="form-label">
      First Name:
      <input class="form-control" type="text" name="firstName" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Last Name:
      <input class="form-control" type="text" name="lastName" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Gender:
      <input class="form-control" type="text" name="gender" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Phone Number:
      <input class="form-control" type="text" name="phoneNumber" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Email:
      <input class="form-control" type="text" name="email" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Address:
      <input class="form-control" type="text" name="address" />
    </label>
  </div>


  <button class="btn btn-primary" type="submit">Create</button>
</form>
