
<h2>Create a Course</h2>
<form action="/createCourse" method="POST">

<!-- Ely - I think you meant to make this hidden, so that the courseID cannot 
be manipulated and I'm assuming you want to keep it incremental -->
  <div>
    <label class="form-label">
      Course ID:
      <input class="form-control" type="hidden" name="courseID" />
      <!-- <input class="form-control" type="text" name="courseID" /> -->
    </label>
  </div>
  
  <div>
    <label class="form-label">
      Course Name:
      <input class="form-control" type="text" name="courseName" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Car Type:
      <input class="form-control" type="text" name="carType" />
    </label>
  </div>

<!-- Ely - I would use input type="time". -->
  <div>
    <label class="form-label">
      Start time:
      <input class="form-control" type="time" name="startTime" />
      <!-- <input class="form-control" type="text" name="startTime" /> -->
    </label>
  </div>

<!-- Ely - I would make this a number instead, and put the units in the label,
which would mean editing the database so that duration is stored as an INTEGER. 
I just think it will be easier for the user to input and less confusing in the database. -->
  <div>
    <label class="form-label">
      Duration:
      <input class="form-control" type="text" name="duration" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Capacity:
      <input class="form-control" type="text" name="capacity" />
    </label>
  </div>

<!-- Ely - I would also make coachID hidden, and make it so a coach
can log in so that when they create a new course, it can automatically
use the coachID of the coach logged in. It would require adding different
permissions for coaches and students though. -->
  <div>
    <label class="form-label">
      Coach ID:
      <input class="form-control" type="hidden" name="coachID" />
      <!-- <input class="form-control" type="text" name="coachID" /> -->
    </label>
  </div>


  <button class="btn btn-primary" type="submit">Create</button>
</form>
